<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />

    <style>
      html {
        word-wrap: break-word;
      }
      .message.compact {
        margin-bottom: 0.5em;
      }
      .message-body {
        padding: 0.5em 0.75em;
      }
      .message-header-compact {
        padding-bottom: 0.5em;
        color: white;
      }
      @media (prefers-color-scheme: light) {
        .message-header-compact {
          color: black;
        }
      }
    </style>
  </head>
  <body>
    <section class="section">
      <div class="container is-max-desktop">
        <h1 class="title"><%= title %></h1>
        <h6 class="subtitle is-6">
          <%= timestamp %>
        </h6>
        <div class="block">
        <table class="table is-bordered is-narrow is-fullwidth is-hoverable">
          <tbody>
            <% for (const [key, value] of Object.entries(metadata)) { %>
            <tr>
              <% if (Array.isArray(value)) { %>
              <th><%= key %></th>
              <td>
                <div class="tags">
                  <%- value.map(e => `<span class="tag">${e}</span
                  >`).join("") %>
                </div>
              </td>
              <% } else { %>
              <th><%= key %></th>
              <td><%= value %></td>
              <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
    </div>
      <% messages.forEach((message) => { %>
        <article class="message compact <%= message.colour %>">
          <div class="message-body">
            <p class="message-header-compact"><small><strong><%= message.header %></strong></small></p>
            <%- message.content.replace(/\n/g, "<br>") %>
            <% if (message.attachments.length) { %>
              <% message.attachments.forEach((attachment, i) => { %>
                <br><a href="<%- attachment %>">Attachment <%= i + 1 %></a>
              <% }); %>
            <% } %>
          </div>
        </article>
      <% }) %>
    </section>
  </body>
</html>
